.FullGame {
    
    .Word {
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: row;
        height: 2vh;
    }
    .GameInput {
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
}