.fuck {
  width: 99%;
  height: 99%;
}
.GameContainer {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 300px;
  height: 300px;
  border: solid .3em #1ad8af;
  border-radius: 12px;
  background-color: #ffffff;
}
