.Full {
  width: 99vw;
  height: 99vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Logo{
  
  color: #7ed957;
  text-shadow: 6px 6px 6px #ff66c4;
  font-size: 4em;
}


.LandingPage {
  height: 50vh;
  width: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10vw;
  opacity: 0.9;
  

  border: 5px solid #cb6ce6; 
      
  -webkit-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1),
          0px 0px 3px 3px LightGrey;  
  -moz-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1), 
          0px 0px 3px 3px LightGrey; 
  box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1), 
          0px 0px 3px 3px LightGrey; 
  padding: 15px;
  
  color: pink;
  border-radius: 10px;
  

  h1 {
      color: #5ce1e6;
      text-shadow: 3px 3px 4px DimGray;
      margin-bottom: 3vw;
      padding: 5px;
      
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #ff66c4;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: #ff66c4;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: #ff66c4;
    }

    form {
        display: flex;
        flex-direction: column;
    }

  

    input {
      border: 5px solid #ff66c4; 
      
      -webkit-box-shadow: 
        inset 0 0 8px  rgba(0,0,0,0.1),
              0 0 16px rgba(0,0,0,0.1),
              0px 0px 3px 3px LightGrey;  
      -moz-box-shadow: 
        inset 0 0 8px  rgba(0,0,0,0.1),
              0 0 16px rgba(0,0,0,0.1), 
              0px 0px 3px 3px LightGrey; 
      box-shadow: 
        inset 0 0 8px  rgba(0,0,0,0.1),
              0 0 16px rgba(0,0,0,0.1), 
              0px 0px 3px 3px LightGrey; 
      padding: 15px;
      background: PaleTurquoise;
      margin-top: 3vw;
      margin: 0 0 10px 0;
      color: #ff66c4;
     
      border-radius: 10px;
      

      -webkit-background-clip: padding-box; 
      -moz-background-clip:    padding; 
      background-clip:         padding-box;

      transition: .4s ease-out;
      outline-width: 0;
      text-align: center;
        
  }

  button {
      margin: 2vw;
      background-color: PaleTurquoise;
      color:#7ed957;
      border: 5px solid #7ed957; 
      border-radius: 10px;
      -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1),
            0px 0px 3px 3px LightGrey;  
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1), 
            0px 0px 3px 3px LightGrey; 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1), 
            0px 0px 3px 3px LightGrey; 

            transition: .4s ease-out;
            outline-width: 0;
  }

  button:hover {
      transform: scale(1.5);
  transition: transform .4s;
  }

  button:focus {
    outline-width: 0;
  }
  
}

@media screen and (max-width: 450px) {
  .Logo {
    font-size: 3em;
  }

  .LandingPage {
    h1 {
    font-size: 1.5em;
    color: #38b6ff;
  }
}
}
