.Home {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;

    .Avatar {
        height: 30vh;
        width: auto;
        margin: 3vw;
    }
}