.resultsSection {
  height: 30vh;
  width: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5vw;
  opacity: 0.9;
  padding: 15px;
  color: #FF66C4;
}
.resultTitle {
  font-size: 3em;
  font-family: 'Chalkduster';
  text-align: center;
  background: -webkit-linear-gradient( #7ed957, #38b6ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.resultHeader {
  font-family: 'Chalkduster';
  text-align: center;
  background: -webkit-linear-gradient( #10ABFF, #FF66C4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3em;
}

.resultsBox {
  height: 80vh;
  width: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10vw;
  opacity: 0.9;
  padding: 15px;
  color: #CB6CE6;

  border: 5px solid #cb6ce6; 
  opacity: 0.8;
  background-color: white;


  button {
    margin: 2vw;
    background-color: white;
    color:#7ed957;
    border: 5px solid #7ed957; 
    border-radius: 10px;
    -webkit-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1),
          0px 0px 3px 3px LightGrey;  
  -moz-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1), 
          0px 0px 3px 3px LightGrey; 
  box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1), 
          0px 0px 3px 3px LightGrey; 
  
          transition: .4s ease-out;
          outline-width: 0;
  }
}

button {
  margin: 2vw;
  background-color: PaleTurquoise;
  color:#7ed957;
  border: 5px solid #7ed957; 
  border-radius: 10px;
  -webkit-box-shadow: 
  inset 0 0 8px  rgba(0,0,0,0.1),
        0 0 16px rgba(0,0,0,0.1),
        0px 0px 3px 3px LightGrey;  
-moz-box-shadow: 
  inset 0 0 8px  rgba(0,0,0,0.1),
        0 0 16px rgba(0,0,0,0.1), 
        0px 0px 3px 3px LightGrey; 
box-shadow: 
  inset 0 0 8px  rgba(0,0,0,0.1),
        0 0 16px rgba(0,0,0,0.1), 
        0px 0px 3px 3px LightGrey; 

        transition: .4s ease-out;
        outline-width: 0;
}