@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');


.modal {
 background-color: #ffffff;
 font-family: 'Gloria Hallelujah', cursive;
 flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: .75;
  border-radius: 10px;
  border: solid 5px #FF66C4;
  padding: 1vw
}
.modalHeader {
  font-family: 'Chalkduster';
  text-align: center;
  color: #5ce1e6;
  text-shadow: 3px 3px 4px DimGray;
  font-size: 2em;
  opacity: .9;
}

  .modalButton {
    margin: 2vw;
    color:#7ed957;
    border: 5px solid #7ed957; 
    border-radius: 10px;
    background-color:white;
    -webkit-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1),
          0px 0px 3px 3px LightGrey;  
  -moz-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1), 
          0px 0px 3px 3px LightGrey; 
  box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1), 
          0px 0px 3px 3px LightGrey; 

          transition: .4s ease-out;
          outline-width: 0;
}

.modalButton:hover {
    transform: scale(1.5);
transition: transform .4s;
}

.modalButton:focus {
  outline-width: 0;
}
