html {
  background-image: url('../assets/happytreesBG.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
html body {
  background: transparent;
}
h1 {
  margin: auto;
  font-family: 'Chalkduster';
  text-align: center;
  background: -webkit-linear-gradient( #10ABFF,#FF66C4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5em;
}
@media screen and (max-width: 1080px) and (min-width: 360px) {
 html {
  background-image: url('../assets/HTmobileBG.png');
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  overflow: hidden;
 }
 h1 {
  margin: auto;
  font-family: 'Chalkduster';
  text-align: center;
  background: -webkit-linear-gradient( #7ed957, #5CE1E6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5em;
}
}
