html {
  background-image: url('../assets/happytreesBG.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


h1 {
  margin: auto;
  font-family: 'Chalkduster';
  text-align: center;
  background: -webkit-linear-gradient( #CB6CE6, #FF66C4,#3866FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5em;
}
@media screen and (max-width: 1080px) and (min-width: 400px) {
 html {
  background-image: url('../assets/HTmobileBG.png');
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  overflow: hidden;
 }
}
