html {
  background-color: #ffffff;
  background-image: url('../assets//happytreesBG.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: .95;
}
h1 {
  margin: auto;
  font-family: 'Chalkduster';
  text-align: center;
  color: #000000;
  font-size: 4em;
}
