@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');
.StatusBar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70vw;
  height: 5vh;
  font-family: 'Gloria Hallelujah', cursive;
  text-shadow: 2px 2px 0px  #fff,
   -2px -2px 0px  #fff,
   1px -1px 0px  #fff,
   -2px 1px #fff;
  font-size: 1em;
  border: 5px solid LightPink; 
  border-radius: 10px;
  padding: 3px;
}
.roundTime {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
}
.round {
  flex-wrap: wrap;
  margin: auto;
}
.timerContainer {
  flex-wrap: wrap;
  margin: auto;
}
.artistAndColor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.currentArtist {
  flex-wrap: wrap;
  margin: auto;
}
.colorPicker {
  flex-wrap: wrap;
  margin: auto;
  justify-content: center space-evenly;
}
.brushTitle {
  display: inline-flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 1vw;
}
.brushBar {
  flex-wrap: wrap;
  margin: auto;
  width: 4vw;
  height: 4vh;
  border-width: 0px;
}


@media screen and (max-width: 320px) and (max-height: 568px) {

  .StatusBar {
    font-size: .5em;
    height: 5vh;
  }
}
