@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');
.StatusBar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 33vw;
  height: 4vh;
  font-family: 'Gloria Hallelujah', cursive;
  text-shadow: 2px 2px 0px  #fff,
   -2px -2px 0px  #fff,
   1px -1px 0px  #fff,
   -2px 1px #fff;
  font-size: .8em;
  border-radius: 12px;
}
.roundTime {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
}
.round {
  flex-wrap: wrap;
  margin: auto;
  .roundColor {
    flex-wrap: wrap;
    margin: auto;
    flex-direction: row;
    color: #FF66C4;
    font-weight: bold;
    font-size: 1.5em;
  }
}
.timerContainer {
  flex-wrap: wrap;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
  .timeColor {
    flex-wrap: wrap;
    margin: auto;
    flex-direction: row;
    color: purple;
    font-weight: bold;
    font-size: 1.5em;
  }
}
.artistAndColor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.currentArtist {
  flex-wrap: wrap;
  margin: auto;
  .drawerColor {
    flex-wrap: wrap;
    margin: auto;
    flex-direction: row;
    color: #3866FF;
    font-weight: bold;
    font-size: 1.5em;
  }
}
.colorPicker {
  flex-wrap: wrap;
  margin: auto;
  justify-content: center space-evenly;
}
.brushTitle {
  display: inline-flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 1vw;
}
.brushBar {
  flex-wrap: wrap;
  margin: auto;
  width: 4vw;
  height: 4vh;
  border-width: 0px;
}

